
@keyframes text-down {
  0% {transform:translateY(-150px);opacity:0;}
  100% {transform:translateY(0);opacity:1;}
}
@keyframes text-move-right {
  0% {transform:translateX(-300px);opacity:0;}
  100% {transform:translateX(0);opacity:1;}
}